root = true

[{src/**/*.css,README.md}]
end_of_line = lf
indent_style = tab

[{src, scripts, types}/**.{js,ts}]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = tab

[{package.json,.travis.yml}]
indent_style = space
indent_size = 4

[/*.{json,js}]
end_of_line = lf
