.ia-listing-action {
	display: inline-block;
}

body.ltr .ia-listing-action {
	margin-left: 0.5em;
}

body.ltr .ia-listing-action--bracket:first-child,
body.rtl .ia-listing-action--bracket:first-child {
	margin-right: 0.2em;
}

body.rtl .ia-listing-action {
	margin-right: 0.5em;
}

body.ltr .ia-listing-action--bracket:last-child,
body.rtl .ia-listing-action--bracket:last-child {
	margin-left: 0.2em;
}

.ia-listing-action--link[disabled] {
	color: gray;
	pointer-events: none;
}

@keyframes ia-newResponse {
	from { background-color: #ffe29e }
	to { background-color: rgba( 0, 0, 0, 0 ); }
}

.ia-newResponse {
	animation: ia-newResponse 2s ease-out;
}

.ia-listing-response, .ia-listing-new {
	max-width: 50em;
}

.ia-listing-response {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

.mw-content-ltr .ia-listing-response, .mw-content-rtl .mw-content-ltr .ia-listing-response {
	margin-left: 1.6em;
	margin-right: 0;
}

.mw-content-rtl .ia-listing-response, .mw-content-ltr .mw-content-rtl .ia-listing-response {
	margin-left: 0;
	margin-right: 1.6em;
}

.ia-listing-response > div {
	margin-bottom: 8px;
}

.ia-listing--preview {
	box-sizing: border-box;
	background: #f6f6f6;
	padding: 0.5em 1em;
	overflow: hidden;
}

/** "Preview" */
.ia-listing--preview::before {
	content: attr(data-label);
	color: #808080;
	display: block;
	margin-bottom: 0.2em;
}

.ia-listing-response--submit {
	text-align: right;
}

/**
 * NEW LISTINGS
 */

.ia-listing-newPanel {
	margin-top: 0.5em;
}

.ia-listing-new {
	display: flex;
	align-items: end;
	margin-top: 0.5em;
	padding: 1em;
}

.ia-listing-new--field {
	flex: 1;
}
.ia-listing-new--cancel {
	margin-left: 0.5em;
}

.ia-batchListing-new {
	padding: 1em;
	max-width: 50em;
}

.ia-batchListing-new--buttons {
	display: flex;
	justify-content: end;
	margin-top: 12px;
}

.ia-batchListing-new .ia-listing--preview {
	margin-top: 12px;
}

/**
 * REPORTING DIALOG
 */

.ia-report-intro {
	font-size: 0.8rem;
	padding-bottom: 12px;
	border-bottom: 1px solid gray;
	margin-bottom: 12px;
}
.ia-report-intro b {
	display: block;
	font-size: 1rem;
}

.ia-report-submit {
	padding-top: 12px;
	display: flex;
	justify-content: flex-end;
}
/**
 * COPYVIO PREVIEWS
 */
.copyvio.deputy-show {
	display: inherit !important;
	border: 0.2em solid #f88;
	padding: 1em;
}

.dp-hiddenVio {
	display: flex;
	flex-direction: row;
	margin: 1em 0;
}

.dp-hiddenVio-message {
	flex: 1;
}

.dp-hiddenVio-actions {
	flex: 0;
	margin-left: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
