/*
===============================================================================

     GLOBAL DEPUTY CLASSES

===============================================================================
*/
* > .deputy.dp-heading {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

*:hover > .deputy.dp-heading:not(.dp-heading--active) {
    opacity: 1;
    pointer-events: all;
}

.dp-loadingDots-1, .dp-loadingDots-2, .dp-loadingDots-3 {
    display: inline-block;
    margin: 0.1em 0.6em 0.1em 0.1em;
    width: 0.8em;
    height: 0.8em;
    background-color: rgba(0, 0, 0, 50%);
    animation: dp-loadingDots linear 3s infinite;
    border-radius: 50%;
}

@keyframes dp-loadingDots {
    0% { background-color: rgba(0, 0, 0, 10%); }
    16% { background-color: rgba(0, 0, 0, 40%); }
    32% { background-color: rgba(0, 0, 0, 10%); }
    100% { background-color: rgba(0, 0, 0, 10%); }
}

.dp-loadingDots-1 {
    animation-delay: -1s;
}

.dp-loadingDots-2 {
    animation-delay: -0.5s;
}

#mw-content-text.dp-reloading {
    opacity: 0.2;
    pointer-events: none;
}

/*
===============================================================================

     DEPUTY REVIEW DIALOG (DeputyReviewDialog)

===============================================================================
*/
.dp-review-progress {
    flex: 1;
    width: 60%;
    min-width: 300px;
}

/*
===============================================================================

     DEPUTY ENTRY POINTS (DeputyCCISessionStartLink, etc.)

===============================================================================
*/
.deputy.dp-sessionStarter {
    font-size: small;
    font-weight: normal;
    margin-left: 0.25em;
    vertical-align: baseline;
    line-height: 1em;
}

.deputy.dp-sessionStarter::before {
    content: '\200B';
}

.mw-content-ltr .deputy.dp-sessionStarter .dp-sessionStarter-bracket:first-of-type,
.mw-content-rtl .deputy.dp-sessionStarter .dp-sessionStarter-bracket:not(:first-of-type) {
    margin-right: 0.25em;
    color: #54595d;
}

.client-js .deputy.dp-sessionStarter .dp-sessionStarter-bracket:first-of-type,
.client-js .deputy.dp-sessionStarter .dp-sessionStarter-bracket:not(:first-of-type) {
    margin-left: 0.25em;
    color:#54595d
}

.dp-cs-session-continue {
    margin-top: 8px;
}

.dp-cs-section-add {
    position: absolute;
    top: 0;
    /* -1.6em derived from MediaWiki list margins. */
    left: -1.6em;
    width: calc(100% + 1.6em);
    height: 100%;

    background-color: rgba(255, 255, 255, 75%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.dp-cs-section-add .dp-cs-section-addButton {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.dp-cs-section-add:hover .dp-cs-section-addButton {
    opacity: 1;
}

/*
===============================================================================

     DEPUTY CONTRIBUTION SURVEY SECTION

===============================================================================
*/
.dp-cs-session-notice {
    margin-top: 8px;
    position: sticky;
    top: 8px;
    z-index: 50;
}

.skin-vector-2022.vector-sticky-header-visible .dp-cs-session-notice {
    top: calc(3.125rem + 8px);
}

.dp-cs-section-footer {
    position: relative;
    padding: 8px;
}

.dp-cs-section-progress {
    margin-top: 8px;
    max-height: 0;
    transition: max-height 0.2s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.dp-cs-section-progress.active {
    max-height: 50px;
}

.dp-cs-section-progress .oo-ui-progressBarWidget {
    flex: 1
}

.dp-cs-section-closingCommentsField {
    margin-top: 8px;
}

.dp-cs-row {
    margin-bottom: 8px;
}

.dp-cs-row .dp--loadingDots {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4em;
}

.dp-cs-row-status {
    max-width: 5.4em;
}

.dp-cs-row-status .oo-ui-dropdownWidget-handle .oo-ui-labelElement-label {
    width: 0;
    opacity: 0;
}

.dp-cs-row-status .dp-cs-row-status--unknown:not(.oo-ui-optionWidget-selected) {
    display: none;
}

.dp-cs-row-head > * {
    vertical-align: middle;
}

body.mediawiki.ltr .dp-cs-row-head > :not(:first-child):not(:last-child),
body.mediawiki.ltr .dp-cs-row-head > :not(:first-child):not(:last-child) {
    margin-right: 16px;
}
body.mediawiki.rtl .dp-cs-row-head > :not(:first-child):not(:last-child),
body.mediawiki.rtl .dp-cs-row-head > :not(:first-child):not(:last-child) {
    margin-left: 16px;
}

.dp-cs-row-links {
    margin-right: 0 !important;
}

.dp-cs-row-links > :not(:last-child) {
    margin-right: 8px !important;
}

.dp-cs-row-title {
    font-weight: bold;
    font-size: 1.2em;
    vertical-align: middle;
}

.dp-cs-row-details {
    color: #4a5054;
    font-weight: bold;
}

.dp-cs-row-toggle .oo-ui-iconElement-icon {
    background-size: 1em;
}

.dp-cs-row-toggle .oo-ui-buttonElement-button {
    border-radius: 50%;
}

.dp-cs-row .history-user,
.dp-cs-row .mw-changeslist-date {
    margin-left: 0.4em;
    margin-right: 0.2em;
}

.dp-cs-row-content {
    padding: 16px;
    background-color: rgba(0, 0, 0, 4%);
    margin: 4px 0;
}

.dp-cs-row-content.dp-cs-row-content-empty {
    display: none !important;
}

.dp-cs-row-unfinishedWarning {
    margin-bottom: 8px;
}

.dp-cs-row-closeComments {
    font-family: monospace, monospace;
    font-size: small;
}

.dp-cs-row-closeComments:not(:last-child) {
    margin-bottom: 8px;
}

.dp-cs-row-finished .oo-ui-fieldLayout:first-child {
    margin-top: 0;
}

.dp-cs-row-finished .oo-ui-fieldLayout {
    margin-top: 8px;
}

.dp-cs-row-revisions .mw-tag-markers .mw-tag-marker:not(:first-child),
.dp-cs-row-detail:not(:first-child) {
    margin-left: 0.2em;
}

/*
===============================================================================

     DEPUTY PAGE TOOLBAR

===============================================================================
*/
.dp-pageToolbar {
    position: fixed;
    bottom: 8px;
    left: 8px;

    padding: 8px;
    background-color: #fff;
    border: 1px solid gray;
    font-size: 0.9rem;

    display: flex;
    align-items: center;
}

.dp-pt-section {
    display: inline-block;
    white-space: nowrap;
}

.dp-pt-section + .dp-pt-section {
    margin-left: 16px;
    padding-left: 16px;
    border-left: 1px solid gray;
    margin-right: 8px;
}

.dp-pt-section-label {
    font-weight: bold;
    font-size: 0.6rem;
    color: #4a5054;
    text-transform: uppercase;
}

.dp-pt-caseInfo {
    font-weight: bold;
    font-size: 1.3rem;
    pointer-events: none;
}

.dp-pt-missingRevision {
    white-space: normal;
}

.dp-pageToolbar .dp-cs-row-status {
    width: 5.4em;
}
