/*
===============================================================================

     GLOBAL DEPUTY CLASSES

===============================================================================
*/
* > .deputy.dp-heading {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

*:hover > .deputy.dp-heading:not(.dp-heading--active) {
    opacity: 1;
    pointer-events: all;
}

.dp-loadingDots-1, .dp-loadingDots-2, .dp-loadingDots-3 {
    display: inline-block;
    margin: 0.1em 0.6em 0.1em 0.1em;
    width: 0.8em;
    height: 0.8em;
    background-color: rgba(0, 0, 0, 50%);
    animation: dp-loadingDots linear 3s infinite;
    border-radius: 50%;
}

@keyframes dp-loadingDots {
    0% { background-color: rgba(0, 0, 0, 10%); }
    16% { background-color: rgba(0, 0, 0, 40%); }
    32% { background-color: rgba(0, 0, 0, 10%); }
    100% { background-color: rgba(0, 0, 0, 10%); }
}

.dp-loadingDots-1 {
    animation-delay: -1s;
}

.dp-loadingDots-2 {
    animation-delay: -0.5s;
}

/*
===============================================================================

     DEPUTY SESSION START LINK (DeputyCCISessionStartLink)

===============================================================================
*/
.deputy.dp-sessionStarter {
    font-size: small;
    font-weight: normal;
    margin-left: 0.25em;
    vertical-align: baseline;
    line-height: 1em;
}


.deputy.dp-sessionStarter::before {
    content: '\200B';
}

.mw-content-ltr .deputy.dp-sessionStarter .dp-sessionStarter-bracket:first-of-type,
.mw-content-rtl .deputy.dp-sessionStarter .dp-sessionStarter-bracket:not(:first-of-type) {
    margin-right: 0.25em;
    color: #54595d;
}

.client-js .deputy.dp-sessionStarter .dp-sessionStarter-bracket:first-of-type,
.client-js .deputy.dp-sessionStarter .dp-sessionStarter-bracket:not(:first-of-type) {
    margin-left: 0.25em;
    color:#54595d
}

/*
===============================================================================

     DEPUTY CONTRIBUTION SURVEY SECTION

===============================================================================
*/
.deputy.dp-cs-section {
    background-color: rgba(0, 0, 0, 3%);
}

.deputy.dp-cs-section .dp-cs-section-closingCommentsField {
    margin-top: 8px;
}

.deputy.dp-cs-section .dp-cs-row {
    margin-bottom: 8px;
}

.deputy.dp-cs-section .dp-cs-row .dp--loadingDots {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4em;
}

.deputy.dp-cs-section .dp-cs-row .dp-cs-row-status {
    max-width: 5.4em;
}

.deputy.dp-cs-section .dp-cs-row .dp-cs-row-status .oo-ui-dropdownWidget-handle .oo-ui-labelElement-label {
    width: 0;
    opacity: 0;
}

.deputy.dp-cs-section .dp-cs-row .dp-cs-row-title {
    font-weight: bold;
    font-size: 1.2em;
    vertical-align: middle;
}

body.mediawiki.ltr .deputy.dp-cs-section .dp-cs-row .dp-cs-row-title {
    margin-right: 8px;
}
body.mediawiki.rtl .deputy.dp-cs-section .dp-cs-row .dp-cs-row-title {
    margin-left: 8px;
}

.deputy.dp-cs-section .dp-cs-row .dp-cs-row-details {
    color: #4a5054;
    font-weight: bold;
    vertical-align: baseline;
}

