.cci-case-request-filer .oo-ui-window-frame {
	width: 700px !important;
}

.cci-case-request-filer .wizard-background {
	position: absolute;

	bottom: 0;
	right: 0;
	width: 50vmin;
	height: 50vmin;

	opacity: 0.1;

	background:
			url('https://upload.wikimedia.org/wikipedia/commons/1/14/Deputy_logo_%28on_white%29.svg')
			no-repeat 5vmin 5vmin;
	background-size: 50vmin;
}

.cci-case-request-filer h1:first-child {
	padding-top: 0;
}

.cci-case-request-filer .page-navigation {
	margin-top: 1.2em;
	display: flex;
	justify-content: space-between;
}

.cci-case-request-filer .page-navigation--previous {
	margin-right: auto;
}

.cci-case-request-filer .page-navigation--next {
	margin-left: auto;
}

.cci-case-request-filer .oo-ui-pageLayout {
	opacity: 0;
	transition: opacity 0.1s ease-in-out;
}

.cci-case-request-filer .oo-ui-pageLayout.crfd-page--active {
	opacity: 1;
}

.cci-case-request-filer .oo-ui-pageLayout > * {
	transform: translateY( 1vmin );
	transition: transform 0.1s ease-in-out;
}

.cci-case-request-filer .oo-ui-pageLayout.crfd-page--active > * {
	transform: translateY( 0 );
}

.cci-case-request-filer .ccrf-background-check {
	margin: 0.4em 0;
}

.cci-case-request-filer .ccrf-background-check--header {
	margin-bottom: 0.4em;
	padding: 0.5em;
	background-color: rgba(198, 213, 255, 0.1);

	position: relative;
}

.cci-case-request-filer .ccrf-background-check--header > div:first-child > span:last-child {
	margin-left: 0.4em;
}

.cci-case-request-filer .ccrf-background-check--header > div:first-child .oo-ui-iconWidget {
	margin-right: 0.4em;
}

.cci-case-request-filer .ccrf-background-check--header--toggle {
	position: absolute;
	top: 0;
	right: 0;
}

.cci-case-request-filer .ccrf-background-check--header--toggle.oo-ui-toggleWidget-on .oo-ui-buttonElement-button {
	background-color: initial !important;
}

.cci-case-request-filer .ccrf-background-check--header + div {
	transition: max-height 0.2s ease-in-out;
	overflow: hidden;
}

.ccrf-deleted-page--links::before {
	content: attr(data-before);
}

.ccrf-deleted-page--links::after {
	content: attr(data-after);
}

.ccrf-deleted-page--links > *:not(:last-child)::after {
	content: attr(data-separator)
}

.ccrf-deleted-page--links > *:not(:last-child)::after {
	content: attr(data-separator)
}

.ccrf-deleted-page--details > *:not(:last-child)::after {
	content: attr(data-separator)
}

.ccrf-deleted-revision--interval {
	padding-bottom: 4px;
	margin-top: 12px;
	border-bottom: 1px solid #888;

	color: #888;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.ccrf-deleted-page, .ccrf-deleted-revision {
	padding: 0.4em;
}

.ccrf-deleted-revision--likely {
	background-color: rgba(255, 0, 0, 0.08);
}
